header {
    background: #f2f2f2;
    font-family: 'museo-sans';
}

/* Utility Classes */
header .object-fit-cover {
    object-fit: cover;
}

header .bg-gray {
    background-color: #939598;
}

header .bg-light-orange {
    background-color: #FAA634;
}

header .bg-orange {
    background-color: #F47920;
}

header .bg-blue {
    background-color: #1E376C;
}

header .bg-dark-blue {
    background-color: #1C3163;
}

header .text-dark-blue {
    color: #1C3163;
}

header .font-bebas-neue {
    font-family: "bebas-neue";
}

header .font-museo-sans {
    font-family: "museo-sans";
}

header .box-shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

header .btn-orange {
    font-size: 1.125rem;
    background-color: #F47920;
    color: #1C3163;
    font-family: "bebas-neue";
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 2rem;
    transition: all 0.5s ease-in;

    &:hover {
        background-color: transparent;
        border: 2px solid #F47920;
        transform: translateY(-2px) scale(1.01);
        color: #939598;
    }
}

header .btn-blue {
    font-size: 1.125rem;
    background-color: #1C3163;
    color: #939598;
    font-family: "bebas-neue";
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 2rem;
    transition: all 0.5s ease-in;

    &:hover {
        background-color: transparent;
        border: 2px solid #1C3163;
        transform: translateY(-2px) scale(1.01);
        color: #1C3163;
    }
}

header .justify-self-left {
    justify-self: left;
}

header .justify-self-right {
    justify-self: right;
}

header .text-decoration-underline {
    text-decoration: underline;
}

header .btn-hollow {
    border: 1px solid #F47920;
    padding: 1rem 5rem;
    border-radius: 30px;
    transition: all 0.5s ease-in, transform 0.1s ease;

    &:hover {
        background: #F47920;
        color: #1C3163;
        transform: scale(0.99);
    }
}

header {
    nav a {
        color: #fff;
        transition: 0.35s ease;

        &:hover {
            color: #FAA634;
        }
    }

    .header-container {
        width: min(90%, 1420px);
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 2.5rem;
        margin-bottom: 0;
        padding-left: 0;
    }

    .top-header {
        background-color: #1E376C;

        .right {
            gap: 2.5rem;
        }
    }

    .bottom-header {
        background-color: #fff;

        nav a {
            color: #000;
        }

        .right {
            gap: 2.5rem;
        }

        .search-bar {
            position: relative;

            input {
                padding: 0.5rem;
                padding-right:40px;
                &:focus-visible{
                    outline-color: #FAA634;
                }
            }

            

            &::after {
                position: absolute;
                right: 0;
                top: 0;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                content: '\f002';
                display: grid;
                place-content: center;
                font-weight: 900;
                font-family: 'Font Awesome 7 Free';
                height: 100%;
                width: 40px;
                background: #FAA634;
                color: #1C3163;
            }
        }
    }

    .my-snow-btn {
        border-radius: 7px;
        border: 1px solid #FAA634;
        color: #fff;
        &:hover {
            background-color: #FAA634;
            color: #1C3163;
        }
    }


    .mega-menu-container {
        display: flex;
        gap: 3.5rem;

        h5 {
            margin-bottom: 1rem;
        }

        li a {
            font-size: 0.85rem;
        }
    }

    .mobile-menu{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
       
        .mobile-menu-content{
            background: #1C3163;
             margin-left: 1rem;
            margin-right: 1rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            ul{
                justify-content: space-between;
                li a{
                    padding: 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap:5px;
                    font-size: 1.1rem;
                }
                .icon{
                    display: block;
                    text-align: center;
                    font-size: 1.5rem;
                }
            };
        }
    }


}

header .main-nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
        display: block;
    }

    .mega-menu {
        display: none;
        position: absolute;
        top: calc(100%);
        left: 0;
        background: #FAA634;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        z-index: 10;
        border-top: 1px solid #939598;
        .mega-menu-column a {
            color: #1C3163;
            font-weight: 600;
        }
        ul {
            display: block;
        }

        .mega-menu-column {
            li {
                margin-bottom: 0.45rem;
            }

        }

    }

    &:hover .mega-menu {
        display: block;
    }
}

header .central-logo {
    background: #fff;
    height: 150%;
    width: 175px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    padding: 1.5rem;
    border-radius: 0 0 50px 50px;
    border-right: 5px solid #F47821;
    border-bottom: 3px solid #F47821;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}
